/* MEDIA QUERIES */

/* FULL SIZE */

@media (max-width: 1100px) {
    #home {
        flex-direction: column;
    }

    .about-left-container {
        width: 45%;
    }

    .skills-container-left,
    .skills-container-right {
        width: 40%;
    }
}

/* FOR 800px */
@media (max-width: 800px) {

    .nav-links {
        gap: 1.3rem;
    }

    .nav-links li a {
        font-size: 1.2rem;
    }

    .navbar a {
        font-size: 1.2rem;
    }

    .home-image {
        display: none;

    }

    .about-container {
        flex-direction: column;
        height: 120vh;
    }

    .about-left-container {
        width: 80%;
    }

    .about-text {

        line-height: 1.8rem;
    }

    .skills-container {
        display: flex;
        flex-direction: column;
        align-items: center;

    }

    .skills-container-left,
    .skills-container-right {
        width: 60%;
    }

    .skills-title {
        font-size: 1.2rem;
        font-weight: 400;
    }

    .skills-pack {
        padding: 0.5rem;
    }

    .image-caption {
        margin-bottom: 4rem;
    }

    .last-section-container {
        gap: 10%;
    }
}

/* FOR 600px */
@media (max-width: 600px) {

    .nav-links {
        gap: 1rem;
    }

    .nav-links li a {
        font-size: 1rem;
    }

    .navbar a {
        font-size: 1rem;
    }

    .about-container {
        height: 150vh;
    }

    .skills-container-left,
    .skills-container-right {
        width: 80%;
    }


}
/* TIMELINE ANIMATIONS */
@media (min-width: 768px) {
    .timeline {
        display: grid;
        grid-template-columns: 1fr 3px 2fr;
    }

    .timeline-middle {
        position: relative;
        background: #0676a1;
        width: 3px;
        height: 100%;
    }

    .main-middle {
        opacity: 0;
    }

    .timeline-circle {
        position: absolute;
        top: 0;
        left: 50%;
        width: 15px;
        height: 15px;
        border-radius: 50%;
        background: #0676a1;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
    }
}